@import "tailwindcss";

@theme {
  --font-graphik-bold: "Graphik-bold", sans-serif;
  --font-graphik: "Graphik", sans-serif;
}

@font-face {
    font-family: "Graphik-bold";
    src: url("./assets/Fontes/Graphik/Graphik-Bold-Trial.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Graphik";
    src: url("./assets/Fontes/Graphik/Graphik-Regular-Trial.otf") format("opentype");
    font-weight: normal;
}